$white: #fff;
$pink: #ffc0cb;
$green: #73d6c5;
$grass_green: #4caf50;
$blue_green: #607d8b;
$black: #333;
$gray: #6c7279;
$light_gray: #b2b2b2;
$gray_dark: #707070;
$red: #FF0000;
$radius_sm: 2px;
$radius_5 : 5px;
$radius_10 : 10px;


