.film__tags {

  @media(max-width: 655px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

}

.tag__name, .current__tags {
  margin-right: 1em;
  padding: 5px 12px 5px;

  font-size: 12px;
  cursor: pointer;

  background-color: $gray_dark;
  color: $white;
  border-radius: $radius_10;

  &.active {
    background-color: $grass_green;
    color: $white;
  }

  &:hover {
    background-color: $pink;
    color: $white;
  }

  @media(max-width: 565px) {
    margin: 3px;
    padding: 5px;

    font-size: 10px;
  }

}



