/*
.tags {
  width: 100%;
  font-size: 14px;
}

.tags__inner {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.tag {
  padding: 5px;
  margin: 5px;
  border: 1px solid $gray;
  border-radius: $radius_sm;

  &.active {
    background-color: $grass_green;
    color: $white;
  }

  &:hover {
    background-color: $green;
  }
}

.tag__item {
  display: flex;
  cursor: pointer;
}
*/

/*.tag:hover {
  background-color: #0087a0;
}*/

/*
.tag__link {
  text-decoration: none;
  color: $black;

  &:hover {
    color: $white;
  }
}
*/

.tag__name, .current__tags {
  margin-right: 1em;
  padding: 5px 12px 5px;

  font-size: 12px;
  cursor: pointer;

  background-color: $gray_dark;
  color: $white;
  border-radius: $radius_10;

  &.active {
    background-color: $grass_green;
    color: $white;
  }

  &:hover {
    background-color: $pink;
    color: $white;
  }

}

